.section
	.container
		.row
			.col-lg-12
				%legend New Vehicle
				.pull-center
					= simple_form_for(@vehicle, html: {class: 'form-horizontal' }) do |f|
						= f.input :number, required: false, hint: true
						= f.input :name, required: false
						= f.input :category, required: false, priority: ['fire'], collection: ['fire', 'police'], default: 'fire'
						= f.input :last_mileage, required: false
						= f.input :temp, required: false

						= f.input :last_serviced, value: Date.today, inline_label: true, required: true 

						= f.input :projected_service, value: Date.today, inline_label: true, required: true 
							
						%hr
							= f.submit 'Create Vehicle'


